.buttonGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 
}

.leftGroup {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: auto; 
}

.rightGroup {
  display: flex;
  align-items: center;
  gap: 20px;
}


.logoHome{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color:red;
  height: 55px;
  margin-left: 20px;

  
}

.cartBtnHomeMain{
  border-style: none;
  background-color: transparent;

}

.cartBtnHomeMain:hover{
    cursor: pointer;
}

.signUpWrapperHome{
  margin-right: 20px;
  height:40px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-style: solid;
  border-color:#313131ff;
  border-radius: 5px;
}


.signInButtonHome{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color:black;
}