.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
  .page {
    --background: #000;
    --foreground: #000;
    --text-primary: #ededed;
    --text-secondary: #999;
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
  


.heroDiv {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 64px 345px 64px;
  overflow: visible; 
  z-index: 01;
  background-color: #000;
  margin: 0;
}

.heroDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/dxqj5g1ii/image/upload/v1761556742/headerImage_hxdnwz.jpg');
  background-color: rgba(0, 0, 0, 0.4); 
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  z-index: 0;
}

.staffPicks{
   width: 100%;
  height: 609px;
  display: grid;
  grid-template-rows: 71px 474px 71px;
 
}

.staffPicksTitle{
  grid-row:1/2;
  width: 100%;
  height: auto;
 margin-bottom: 200px;
  padding: 20;
}

.staffCardsGrid{
  grid-row: 2/3;
  width: 100%;
  height: auto;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  gap: 30px;

}

.viewPicksGrid{ 
   grid-row: 3/3;
   display: flex;
   align-items: center;
   justify-content: center;
}

.trendingPicks{
  width: 100%;
  margin-top: 0;
  height: 1154px;
  display: grid;
  grid-template-rows: 104px 435px 43px 435px 137px;
}

.firstRowGrid{
  grid-row: 2/3;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 30px;
}

.secondRowGrid{
  grid-row: 4/5;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 30px;
}

.viewAllTrendingGrid{
  grid-row: 5/6;

  display: flex;
  align-items: center;
  justify-content: center;
}


}
